@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgba(241, 241, 241, 255);
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

input[type="text"]:focus, input[type="password"]:focus {
    /* outline: none !important; */
    box-shadow: 0 0 0 0px #facc15; /* Replace with your desired focus color */
    /* border-color: transparent; */
}

.dp__input:focus {
    outline: transparent;
    box-shadow: 0 0 0 0px #facc15;
    border-color: transparent;
}


